{% extends "base.html" %}
{% load static %}
{% block content %}

    <canvas id="myChart"></canvas>

    <script src="{% static "chartjs/js/chart.js" %}"></script>

    <script>
        $(document).ready(function () {
            const ctx = document.getElementById('myChart');

            let chart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        data: [{
                            x: '2021-11-06 23:39:30',
                            y: 50
                        }, {
                            x: '2021-11-07 01:00:28',
                            y: 60
                        }, {
                            x: '2021-11-07 09:00:28',
                            y: 20
                        }]
                    }],
                },
                options: {
                    scales: {
                        x: {
                            min: '2021-11-07 00:00:00',
                        }
                    }
                }
            });
        })
        ;
    </script>

{% endblock %}
